* {
  margin: 0;
  box-sizing: border-box;
}

/* Grunnleggende stil for hele siden */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  color: #333;
  background-color: whitesmoke;
}

/* Overskrift */
h1 {
  margin-bottom: 30px;
}

/* Container som holder alle produktene */
.produktliste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

.handlekurv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#handlekurv p {
  text-align: left;
  padding-bottom: 5px;
}

.produkt-bilde {
  max-width: 200px; /* Sett maks bredde */
  height: auto; /* La høyden tilpasse seg automatisk */
  object-fit: contain; /* Sørg for at bildet tilpasses uten å bli forvrengt */
  margin-bottom: 10px; /* Litt mellomrom under bildet */
  display: block; /* Sørg for at bildene er blokk-elementer */
  margin-left: auto; /* Sentrer bildene horisontalt */
  margin-right: auto;
}

/* Modal - Popup */
.popup {
  display: none; /* Skjult som standard */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Faded background */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  padding-top: 60px;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  background-color: aquamarine;
  border: solid black 2px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
